<h1 class="center">Alle Videos</h1>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <% @videos.each do |video| %>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading<%=video.id%>">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=video.id%>" aria-expanded="false" aria-controls="collapse<%=video.id%>">
            <%= video.title %>
          </a><br>
          <small>Created <%= time_ago_in_words(video.created_at) %> ago
          </small>
        </h4>
      </div>
      <div id="collapse<%=video.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=video.id%>">
        <div class="panel-body">
          <iframe>xxx</iframe>
        </div>
      </div>
    </div>
  <% end %>
</div>
