<!DOCTYPE html>
<html>
  <head>
    <title>IrishFolk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="container">

      <% if notice %>
        <div class="alert alert-success" role="alert">
          <p class="notice"><%= notice %></p>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-warning" role="alert">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>

      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
